.keyword {
  color: #1731F6;
}
.literal {
  color: #992410;
}
.comment {
  color: 007E03;
}
.ident {
  color: #6BB0C3;
}
.fullspan {
  text-decolation: underline;
  color: #F4E5BA;
}
.span {
  text-decolation: underline;
  color: #FC2424;
}
